.nav{
    background-color: rgba(240, 240, 240, 0.9);
    height:40px;
    padding:5px 5%;
        display: flex;
     align-items: center;
}
.nav h5 span{
    margin-left: 45px;
    color:#666;
}
.nav .title{
    font-size:22px;
    font-weight:600;
    color:#333;
}
.nav h5 {
   display:inline;
}

.nav2{
    background-color: rgba(0, 0, 0, 0.86);;
    height:80px;
    width:100%;
    display: flex;
    justify-content: center;
     align-items: center;
}
.nav2 h5 span{
    margin: 20px;
    color:whitesmoke;
    cursor: pointer;
}

.footer{
    background-color: rgba(240, 240, 240, 0.9);
    height:250px;
    padding:5px 5%;
        display: flex;
     align-items: center;
}
.container{
    margin-left:0%;
    transition-duration:.15s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    background-color: white;
    min-height:100%;
}

.main{
    margin-top:2%;
    min-height:100%;
}
.detailView{
    margin-left: 0%!important;
}
@media (min-width: 1000px){
 .detailView{
    margin-left:45.5%!important; 
}
}
@media (min-width: 1200px){
 .detailView{
    margin-left:35.5%!important; 
}
}

.blue{
    color: #0070c9!important;
}