.dNone{
    display: none!important;
}
.list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boxWidth{
 width:90%;
}
.sortedPhotos{
    margin:.5%;
    padding:10px;
    background-color: #efefef;
    width:98%; 
    float:left;
    display:flex;
    flex-wrap: wrap;
}
.sortedPhotos h1{
 color: #444;
 font-weight:400;
 font-size: 1.5em;
 margin: 2%;;
 margin-bottom:20px;
 width:100%
}
.list-element{
    width:98%; 
    margin: 2%;
}
.wide{
    width:98%;
}


@media (min-width: 550px){
.boxWidth{
 width:70%;
}
.wide{
    width:70%;
}
.sortedPhotos{
    padding:40px!important;
}
}

@media (min-width: 750px){
.boxWidth{
 width:35%;
}
.list-element{
    width:48%; 
    margin:1%;
}
.sortedPhotos{
    padding:40px!important;
}
.sortedPhotos h1{
 margin: 1%;
}
.wide{
    width:77%;
}
.wide .list-element{
    margin: 1%;
    width:23%;
}

}


.description{
    margin:.5%;
    padding:40px;
    background-color: #efefef;
    float:left;
}
.description h3{
 color: #999;
 font-weight:400;
 margin-bottom:0;
}
.description h1{
 color: #444;
 font-weight:400;
 margin-top:5px;
 margin-bottom:25px;
}
.description p{
 color: #888;
 font-weight:400;
}