<div class='list-element'>
	<img src={{photo.url}} (click)='createDetail(photo);'>
	<h5 class='title '>{{photo.title.length > 0 ? photo.title : 'Untitled' }}</h5>
	<app-stars class='stars fR' [editable]=false [stars]='photo.rating'></app-stars>
	<div class='comment fL'>
		<h5>{{photo.notes.length === 1 ? photo.notes.length + ' Note' : photo.notes.length + ' Notes' }}</h5>
	</div>
</div>

<!--

    {
      "url": "https://source.unsplash.com/7YfY61ILEwg/",
      "title": "The Deadliest Frog",
      "notes": [{ "timestamp": 1476946800000, "text": "Spotted in the forest." }, { "timestamp": 1477292400000, "text": "I think these are native to Columbia." }, { "timestamp": 1477378800000, "text": "This is a golden poison frog and should never be touched." }],
      "rating": 1
    },

    -->