.list-element{
    width:100%;
}
.list-element h5{
    margin-top:5px;
}
.list-element .fL{
    float:left;
}
.list-element .fR{
    float:right;
}

.list-element img {
    height:auto;
    width: 100%;
    cursor: pointer;
    border-radius:2px;
}
.list-element .title{
    margin:5px 0;
    max-width: 90%;
    color: #666;
}
.list-element .stars{
    display: inline;
}
.list-element .comment{
    color: #0070c9;
    cursor: pointer;
    display: inline;
}






