/* You can add global styles to this file, and also import other style files */
body{
    margin:0px;
    padding:0px;
    font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
}